@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&family=Poppins:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.home {
  max-width: 100rem;
  background-color: #ffc135;
  padding: 40px;
  color: #42200b;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.right-nav {
  display: flex;
  flex-direction: column;
}
.right-nav img {
  width: 30px;
}
.delivery {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  color: #42200b;
}
.logo img {
  width: 150px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #42200b;
  margin: 25px;
  font-size: 12px;
}
.wholeBurger {
  margin-top: -200px;
}
.burgerWeek {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  overflow: hidden;
  position: relative;
}
.burger img {
  margin-top: -200px;
  overflow: hidden;
  margin-left: 310px;
  height: 810px;
}
.wholeBurger p {
  border: 2px dashed #42200b;
  font-size: 11px;
  text-align: center;
  width: 310px;
  padding: 10px;
}
#hh {
  font-size: 100px;
  line-height: 100px;
  font-weight: bolder;
}
#spN {
  font-weight: bold;
  line-height: 40px;
  font-size: 50px;
}

.redCirle {
  width: 130px;
  text-align: center;
  padding: 30px 30px 30px 30px;
  color: #fff;
  border-radius: 50%;
  background-color: #df1c1c;
  border: 2px dashed #fff;
  position: absolute;
  z-index: 1;
  margin-top: -290px;
  margin-left: 450px;
}
#spa {
  font-weight: 600;
  font-size: 30px;
  line-height: 10px;
}
#span {
  letter-spacing: 10px;
  text-transform: uppercase;
}

.special {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.special img {
  position: relative;
  height: 100%;
}
#text {
  position: absolute;
  z-index: 1;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
.second #text {
  padding: 20px;
}
.one img {
  width: 100%;
}
.second img {
  width: 100%;
  margin: 2%;
}

.sec {
  width: 100%;
}
.ond {
  width: 100%;
}
.realSpecial {
  text-align: center;
  color: #42200b;
  margin: 50px;
}
.realSpecial h4 {
  background-color: #ffc135;
  width: 220px;
  margin: auto;
  line-height: 38px;
}
.realSpecial h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 15px;
}
.burgerOne img {
  width: 300px;
}
.brown img {
  width: 225px;
}

.burgerOne {
  height: 300px;
}
.burgers {
  margin: 90px auto;
  width: 1200px;
  display: flex;
  align-items: center;
}
.burgers p {
  font-size: 13px;
  margin: 20px;
}
.burgers button {
  background-color: #df1c1c;
  color: #fff;
  border: none;
  padding: 10px;
  width: 150px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 70px;
}
.theForth img {
  width: 500px;
}
.theBox {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  color: #3b3b3b;
}
.theOne {
  width: 50%;
}
.theTwo {
  width: 40%;
}
.theOne h1 {
  font-weight: 900;
  line-height: 50px;
  color: #42200b;
}
.dotss {
  display: flex;
}
.dot {
  background-color: #dddddd;
  border-radius: 50%;
  margin: 3px;
  width: 10px;
  height: 10px;
}
.top {
  background-color: #ffc135;
}
.theFifth {
  background: url(./images/background.png);
  text-align: center;
  height: 600px;
  color: #42200b;
  background-position: center;
  background-size: cover;
  margin: 0px;
}
.theFifth p {
  color: #42200b;
  line-height: 30px;
}
.theFifth h1 {
  color: #42200b;
  font-size: 50px;
}
.ALL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
#one .yellow{
  text-align: start;
  padding: 15px;
  padding-right: 150px;

}
.yellow {
  background-color: #ffb042;
  margin: 20px;
  border-radius: 5px;
  text-align: start;

}
#two .yellow{
  padding: 15px;
  padding-right: 150px;
}
.whiteText{
  color: #fff;
  background-color: #df1c1c;
  font-weight: bolder;
  text-align: center;
}
.theSixth{
  background-image: url(./images/Untitled.png);
  background-size: cover;
  color: #fff;
  padding-top: 40px;
  margin: 50px;
  padding-left: 40px;
}
.footerOne{
  display: flex;
justify-content: space-between;
}
.footerOne p{
  width: 40%;
  line-height: 25px;
  margin-top: 30px;
}
.footerOne .h4{
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.h4 img{
  margin-right: 15px;
}

.footerTwo{
  display: flex;
  justify-content: space-between;
  padding: 150px 30px 30px 0px;
  margin-bottom: 50px;
}