*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #ddd;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cart{
  background-color: #ddd;
  box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);  
  max-width: 800px;
  border-radius: 15px;
  display: flex;

}
.jumbotron{
    background-color: #fff;
    border-radius: 15px  0 0 15px;
    width: 600px;
    padding: 10px;
}
.jumbotron header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    line-height: 30px;
    padding-bottom: 30px;
    padding-top: 8px;
}

.body{
    padding: 20px;

}
.product{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-top: 25px;
    border-top: 1px solid #ddd;
    padding-bottom: 25px;
    align-items: center;

}

.shirt{
    width: 30px;
    height: 10px;
    background-color: aqua;
    
}
.first{
    border-top: 2px solid #ddd; 
}
.fourth{
    border-bottom: 2px solid #ddd;
}
p{
    font-weight: bold;
    color: #aaa;
}
.product input{
    width: 30px;
    text-align: center;
    color: #000;
    height: 30px;
    border: 1px solid #ccc;
}
button{
    width: 15px;
    background-color: transparent;
    border: none;
}
.summary{
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 20px;

}
.summary header{
padding: 20px;
border-bottom: 1px solid #bbb;
}
.price{
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}
select{
margin: 20px auto;
padding: 10px;
border-color: #fff;
width: 100%;
}
.summary input{
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    border:1px solid #fff;

}
.total{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #bbb;
    line-height: 50px;
}
.summary button{
background-color: #000;
width: 100%;
color: #fff;
padding: 10px;
margin-top: 20px;

}
a{
    text-decoration: none;
    color: #aaa;
}
#shop{
    margin-top: 50px;
    padding: 20px;

}


@media only screen and (max-width: 800px) {
    .cart{
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 20px auto;
    }
    .summary{
        min-width: 100%;
    }
    .jumbotron{
        max-width: 100%;
        border-radius: 15px 15px 0 0px;
    }
}
.originalamount{
    visibility: hidden;
}